<!DOCTYPE html>
<html>
    <head>
        <title>Food Desert Mapper</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=7,IE=9">

	<link rel="stylesheet" href="/stylesheets/style.css">
    <!--<script>
        var ua = navigator.userAgent.toLowerCase();
        var isAndroid = ua.indexOf("android") > -1; //&& ua.indexOf("mobile");
        if(isAndroid) {
            window.L_DISABLE_3D = true;
        }
    </script>-->

    <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>	
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />
    <![endif]-->

    <script src="/dist/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="/dist/leaflet.awesome-markers.css">

    

    <script src="http://libs.cartocdn.com/cartodb.js/v2/cartodb.js"></script>
    <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v2/themes/css/cartodb.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v2/themes/css/cartodb.ie.css" />
    <![endif]-->


    <script type="infowindow/html" id="infowindow_template">
        <div class="cartodb-popup">
            <a href="#close" class="cartodb-popup-close-button close">x</a>
            <div class="cartodb-popup-content-wrapper">
                <div class="cartodb-popup-header">
                    <!--<img style="width: 100%" src="http://cartodb.com/assets/logos/logos_full_cartodb_light-5ef5e4ff558f4f8d178ab2c8faa231c1.png"></src>-->
                </div>
                <div class="cartodb-popup-content">
                    <!-- content.data contains the field info -->
                    <h4>Store: </h4>
                    <h2>{{content.data.store_name}}</h2>
                    <a class="btn" href='/rate/{{content.data.cartodb_id}}'>Rate this Market</a>
                </div>
            </div>
            <div class="cartodb-popup-tip-container"></div>
        </div>
    </script>

    <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.2.1"></script>

	<script type="text/javascript" src="/lib/jquery-1.9.1.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">

    <script>
        F = {};
    </script>
    </head>
    <body>
	    <div id="map"></div>
        <script type="text/javascript" src="/javascripts/foodmap.js"></script>
    </body>
</html>
