<!DOCTYPE html>
<html>
    <head>
        <title>Food Desert Mapper</title>
        
	<link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css">
	<link rel="stylesheet" href="/stylesheets/style.css">

	<link href="http://serverapi.arcgisonline.com/jsapi/arcgis/3.3/js/dojo/dijit/themes/claro/claro.css" rel="stylesheet" type="text/css" >
<link rel="stylesheet" href="http://serverapi.arcgisonline.com/jsapi/arcgis/3.3/js/esri/css/esri.css" />
<script src="http://serverapi.arcgisonline.com/jsapi/arcgis/3.3/" type="text/javascript"></script>

	<script type="text/javascript">
		dojo.require("esri.map");
		function init() {
			//Rochester, NY: 43.1547, -77.6158
			map = new esri.Map("mapDiv", {
                            center: [-77.6158, 43.1547],
			    zoom: 15,
			    basemap: "hybrid"
			    });
		}
                dojo.addOnLoad(init);
	</script>

    </head>
    <body class="claro">
	    <div id="mapDiv"></div>
    </body>
</html>
    
